html {
  /*
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, 
    'Segoe UI', Roboto, 'Helvetica Neue', 
    Ubuntu, Arial, sans-serif;
    */
}

* {
  color: #000;
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter/Inter_24pt-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter/Inter_24pt-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter/Inter_24pt-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: SourceCodePro;
  src: url(/assets/fonts/SourceCodePro/static/SourceCodePro-Medium.ttf);
  font-weight: 500;
}

body {
  margin: 0;
  background-color: #fff;
  font-size: 14px;
}

a > code {
  color: blue;
}

code {
  background-color: #f6f8fa;
  font-family: SourceCodePro;
  font-weight: 500;
  padding: 0px 3px;
}

h1 {
  font-size: 32px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
h1::-webkit-scrollbar {
  display: none;
}

.docs-nav-item {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.docs-nav-item::-webkit-scrollbar {
  display: none;
}

.CodeMirror-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.CodeMirror-scroll::-webkit-scrollbar {
  display: none;
}

.CodeMirror-sizer {
  padding-top: 0px;
}

.code-viewer {
  font-family: SourceCodePro;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}

pre {
  font-size: 14px;
  -webkit-text-size-adjust: none;
}

#layout {
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}
@media only screen and (max-width: 768px) {
  #layout {
  }
}
#layout main {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 0;
  padding-bottom: 25px;
  width: 98%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 15px auto;
  min-height: 100vh;
}
@media only screen and (max-width: 768px) {
  #layout main {
    width: 100%;
  }
}
#layout > nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  height: 50px;
}
#layout > nav > .right-links {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 2%;
  padding-top: 5px;
}
@media only screen and (max-width: 768px) {
  #layout > nav > .right-links {
    padding-top: 0px;
  }
}

#layout > nav > .home {
  display: flex;
  align-items: center;
}
#layout > nav > .home select {
  position: relative;
  top: 3px;
  border: none;
  outline: none;
  padding: 0px 5px;
  background-color: transparent;
  color: #1f2328;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  font-size: 31px;
}

#layout > nav > .home > .links {
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding-top: 5px;
  font-size: 31px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  #layout > nav > .home > .links {
    display: none;
  }
}

#layout > nav > .home > .links > a {
  margin-right: 42px;
}

.nav-link {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
.nav-link.active {
  color: #000;
}

#layout > footer {
  padding: 15px 30px;
}

#home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1f2328;
  margin-left: 20px;
  /*
  margin-right: 8vw;
  */
}
#home-link .text1 {
  margin-top: 8px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
}
#home-link > img {
  width: 150px;
  margin: 0px 15px;
}
@media only screen and (max-width: 768px) {
  #home-link {
  }
  #home-link .text1 {
  }
  #home-link > img {
    width: 100px;
  }
}

#hamburger-menu {
  display: none;
}
#hamburger-menu.active {
  display: block;
}

#hamburger-menu-icon {
  position: relative;
  top: 2px;
  width: 50px;
  height: 50px;
  overflow-y: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}
#hamburger-menu-icon svg {
  transition: opacity 0.25s;
  opacity: 1;
  left: 0;
}
#hamburger-menu-icon.active svg {
  opacity: 0.5;
}

#hamburger-menu {
}
#hamburger-menu nav {
  width: 70%;
  padding-right: 5%;
  padding-left: 2%;
  background-color: #fff;
  margin: 5px 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 15px;
}
#hamburger-menu nav > .nav-link {
  display: block;
  font-size: 28px;
  padding: 5px 3%;
}
#hamburger-menu nav > hr {
  position: relative;
  left: -3%;
  margin: 0;
  height: 1px;
  background-color: #e4e4e4;
  border: none;
}
#hamburger-menu nav > .nav-link.active {
  text-decoration: none;
}

#hamburger-menu .docs-nav nav {
  padding-top: 15px;
  padding-bottom: 15px;
}
#hamburger-menu .docs-nav nav section {
  padding-left: 10px;
  margin-bottom: 10px;
}
#hamburger-menu .docs-nav nav h4 {
  font-size: 1.5rem;
  padding: 3px 0px;
}
#hamburger-menu .docs-nav nav .docs-nav-item {
  font-size: 1.2rem;
  padding: 2px 0px;
  overflow-x: scroll;
}
#hamburger-menu .docs-nav nav .docs-nav-item.method {
  padding-left: 20px;
}

.slider {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.slider > .panels {
  transform: translate(0%);
  transition: transform .25s;
}
.slider > .panels > .panel {
  display: inline-block;
  float: left;
  width: 100%;
}

#home {
  padding: 0 2%;
}
@media only screen and (max-width: 768px) {
  #home {
    padding: 0 5%;
  }
}

article .image {
  display: inline
}

article h2 {
  margin-bottom: 10px;
}

article h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

article h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

article h2 > a::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(/assets/internal-link.svg);
  background-size: contain;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

article a {
  text-decoration: none;
  font-weight: 600;
  color: blue;
}
article a > span {
  color: blue;
}
article h2 > a > span {
  color: black;
}

#blog article {
  width: 700px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #blog article {
    width: 90%;
  }
}

#docs {
  display: flex;
  padding: 0 2%;
}
@media only screen and (max-width: 768px) {
  #docs {
    padding: 0 5%;
  }
}

#docs .viewer > a {
  text-decoration: none;
}

#docs .sidebar {
  padding-top: 10px;
  border-right: 1px solid #e4e4e4;
  width: 20%;
  padding-right: 2%;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  #docs .sidebar {
    display: none;
  }
}

#docs .sidebar nav section {
  margin-bottom: 10px;
}
#docs .sidebar nav h4 {
  font-size: 18px;
  padding: 3px 0px;
}
#docs .sidebar nav .docs-nav-item {
  padding: 2px 0px;
  overflow-x: scroll;
}
#docs .sidebar nav .docs-nav-item.method {
  padding-left: 20px;
}
#docs .sidebar nav .docs-nav-item a {
}

#docs .viewer {
  width: 75%;
  padding-left: 2%;
}
@media only screen and (max-width: 768px) {
  #docs .viewer {
    width: 100%;
    padding-left: 0%;
  }
}

#docs .viewer > a > h1 {
  font-size: 42px;
  margin: 20px 0px;
  color: #000;
  overflow-x: scroll;
  width: fit-content;
}
@media only screen and (max-width: 768px) {
  #docs .viewer > a > h1 {
    font-size: 2rem;
  }
}

#docs .viewer .docs .methods {
  margin-bottom: 10px;
}

#docs-search-bar input {
  background: url('/assets/magnifying-glass-docs-search-d4d4d4.svg') no-repeat 98% 5px;
  background-size: 15px;
  padding: 5px 3%;
  width: calc(94% - 5px);
  padding-right: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.docs-nav-item a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  overflow-x: scroll;
}

.docs .method > a {
  text-decoration: none;
  font-weight: 600;
  display: block;
  width: fit-content;
}

.docs article a {
  text-decoration: none;
  font-weight: 600;
}

.docs .method a {
  text-decoration: none;
  font-weight: 600;
}

#docs-nav {
}
#docs-nav .methods {
  margin-bottom: 10px;
}

.fade-in-out {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: .36s, .36s;
  transition-timing-function: ease, ease;
}
.fade-in-out.transition-start {
  visibility: hidden;
  opacity: 0;
}
.fade-in-out.transition-end {
  visibility: visible;
  opacity: 1;
}

#blog {
}

#home > article > a > #blog {
  padding: 0;
}

#blog > article > p > img {
  width: 100%;
  max-width: 650px;
}
#blog > article > h1 {
  font-size: 48px;
  margin-bottom: 0px;
  /* word-break: break-word; */
}

.blog-metadata {
  margin-right: 18px;
  margin-bottom: 36px;
  color: grey;
}

.blog-post {
  margin-bottom: 25px;
}
.blog-post.inactive {
}

.blog-post > p {
  padding: 0 20px;
  margin-right: 18px;
  margin-bottom: 15px;
  margin-top: 0px;
  color: grey;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.28s;
  transition-timing-function: ease;
}
@media only screen and (max-width: 768px) {
  .blog-post > p {
    padding: 0 5%;
  }
}

.blog-post .cover {
  text-align: center;
  margin: 30px 0px;
  max-height: 70vh;
  overflow-y: hidden;
}
.blog-post .cover > img {
  width: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .blog-post .cover > img {
  }
}

.blog-post.inactive .cover {
  max-height: 70vh;
}
.blog-post.inactive .cover > img {
  width: 100%;
}

.blog-post .description {
  padding: 0 2%;
}
@media only screen and (max-width: 768px) {
  .blog-post .description {
    padding: 0 5%;
  }
}

.blog-post > a {
  text-decoration: none;
  padding: 0px 20px;
}
@media only screen and (max-width: 768px) {
  .blog-post > a {
    padding: 0px 5%;
  }
}

.blog-post > a > h1 {
  margin: 20px 0;
}

.blog-post .description > h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.blog-post .description > button.read-more {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 650;
  cursor: pointer;
  transition: background-color 0.18s ease;
  outline: none;
}
.blog-post .description > button.read-more:hover {
  background-color: #000;
}
.blog-post > p.inactive {
  opacity: 0;
  margin: 0;
}
.blog-post > a {
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #000;
  transition-property: color, font-size;
  transition-duration: 0.28s, 0.28s;
  transition-timing-function: ease, ease;
}
.blog-post > a > img {
  filter: grayscale(100%);
}
.blog-post > a:hover {
}
.blog-post > a.active {
  color: black;
  text-decoration: none;
}
.blog-post article > p > .image {
  display: block;
  text-align: center;
}
.blog-post article > p > .image > img {
  max-height: 30vh;
  width: 85%;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .blog-post article > p > .image > img {
  }
}

.blog-post > a > .down-arrow-svg {
  position: relative;
  margin-left: 18px;
  width: 35px;
  transition: transform 0.12s, opacity 0.42s;
  max-width: 6vw;
  height: 20px;
  opacity: 0;
  transform: rotate(-90deg);
}
@media only screen and (max-width: 768px) {
  .blog-post > a > .down-arrow-svg {
    width: 100%;
  }
}

.blog-post > a.active > .down-arrow-svg {
  transform: rotate(0deg);
  opacity: 1;
}

.blog-post > a > .down-arrow-svg > rect {
  fill: 000;
}
.blog-post > a.active > .down-arrow-svg > rect {
  fill: #000;
  transition: fill 0.25s;
}

